<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <title>{{ title }}</title>
</head>
<body>
<div class="container p-3">
    <div class="row mb-3">
        <div class="col-12">
            Comparazione tra numero di denunciati e numero di soggetti positivi del giorno.
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12 col-md-6">
            <iframe width="100%" height="600" src="https://datastudio.google.com/embed/reporting/f0455c57-9875-4e4f-a416-5901a00a9f6e/page/dTNJB"
                    frameborder="0" style="border:0" allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>Fonti</div>
            <div>Positivi giornalieri: <a href="http://opendatadpc.maps.arcgis.com/apps/opsdashboard/index.html#/b0c68bce2cce478eaac82fe38d4138b1" target="_blank" > Protezione civile </a></div>
            <div>Denunciati giornalieri: <a href="https://www.interno.gov.it/it/coronavirus-i-dati-dei-servizi-controllo" target="_blank">Ministero dell'interno</a></div>
        </div>
    </div>
</div>
</body>
</html>